<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script def src="https://unpkg.com/vue@next"></script>
</head>
<body>
  
  <div id="myApp">

    <h1>Batman</h1>
    <span>modificador de evento: </span>
    <a href="https://v3.vuejs.org/guide/events.html#event-modifiers">
       v-on:keypress<span style="color:rgb(3, 184, 159)">.enter</span>
    </a><br><br>
    <input 
      type="text"
      v-model="newQuote"
      v-on:Keypress.enter="addQuote"
    >

    <hr>
    <ul>
      <li v-for="({quote, autor}, index) of quotes"> 
        <span>{{index+1}} {{quote}} </span>
        <!-- <blockquote v-if="author"> {{autor}} </blockquote> --> <!-- No lo construye ene el dom -->
        <blockquote v-show="false"> {{autor}} </blockquote><!-- oculta con un diplay:none -->
      </li>
    </ul>
  </div>

  <script src="app.js"></script>
</body>
</html>